.container {
    width: 850px;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
}

.comment {
    font-size: 22px;
    margin-bottom: 24px;
    text-align: center;
}

.btn {
    width: 75%;
    margin-left: 120px;
}
