.container {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

    & .alert {
        margin-bottom: 15px;
    }

    & .title {
        text-align: center;
    }

    & .tooltipContainer {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &Item {
        width: 100%;
        box-sizing: border-box;
    }

    & .btn {
        width: 100%;
    }

    & .icon {
        margin-bottom: 4px;
    }
}
