.container {
    & .hintIcon {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }

    & .title {
        text-align: center;
    }

    & .tooltipContainer {
        display: flex;
        align-items: center;
        gap: 5px;

        & .text {
            margin-bottom: 0;
        }
    }

    & .content {
        &Item {
            width: 100%;
        }
    }

    & .btn {
        margin-top: 20px;
        width: 200px;
    }

    & .icon {
        margin-top: 4px;
    }
}
