.container {
    display: flex;
    flex-direction: column;

    & .title {
        text-align: center;
    }

    & .content {

        &Item {
            width: 100%;
        }
    }

    & .btn {
        width: 200px;
    }
}
