.form {
    width: 100%;
}

.container {
    width: 100%;

    & .icon {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }

    & .title {
        text-align: center;
    }

    & .btn {
        width: 100%;
    }

    & .text {
        text-align: center;
        font-size: 22px;
    }
}
