@use 'src/assets/styles/colors.scss';

.icon {
    text-align: center;
    cursor: pointer;
    opacity: 0.5;
    color: colors.$red;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 1;
    }
}

.category {
    white-space: nowrap;

    & .text {
        margin: 0;
    }

    & .itemCategory {
        margin-left: 3px;
    }
}
