@use 'src/assets/styles/colors.scss';

.container {
    margin-left: 40px;

    & .danger {
        background-color: colors.$red;
        color: colors.$white;
    }

    & .btn {
        width: 200px;
    }

    & .ctlPrefix {
        height: fit-content;
        margin-bottom: -8px;
        white-space: nowrap;
    }
}
