.xxsmall > span > svg {
    height: 13px;
    width: 13px;
}

.xsmall > span > svg {
    height: 16px;
    width: 16px;
}

.small > span > svg {
    height: 24px;
    width: 24px;
}

.msmall > span > svg {
    height: 20px;
    width: 20px;
}

.medium > span > svg {
    height: 32px;
    width: 32px;
}

.large > span > svg {
    height: 48px;
    width: 48px;
}
