.item {
    width: 100%;
}

.btn {
    width: 500px;
}

.tooltipContainer {
    display: flex;
    align-items: center;
    gap: 5px;

    & .text {
        margin-bottom: 0;
    }
}

.streamHint {
    color: #fff;
    text-align: start;
    text-decoration: none;
    word-wrap: break-word;
    border-radius: 6px;
    box-shadow:
        0 6px 16px 0 rgba(0, 0, 0, 0.08),
        0 3px 6px -4px rgba(0, 0, 0, 0.12),
        0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
