.container {
    & .switchLabel {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    & .tooltipContainer {
        display: flex;
        align-items: center;
        gap: 5px;

        & .text {
            margin-bottom: 0;
        }
    }

    &Texts {
        margin-top: 8px;

        & .text {
            margin-top: 0 !important;
            width: 100%;
            display: flex;
            gap: 10px;
        }
    }

    & .btn {
        margin-top: 40px;
        width: 200px;
        margin-left: -40px;
    }
    .icon {
        margin-bottom: 15px;
        width: 5px;
        height: 5px;
    }
}
