.container {
    & .title {
        text-align: center;
    }

    & .tooltipContainer {
        display: flex;
        align-items: center;
        gap: 5px;

        & .text {
            margin-bottom: 0;
        }
    }
}

.formList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40;
}

.btn {
    width: 200px;
}
